@import "../../app/variables.scss";

.characterExtendedPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $contentWidth;
  flex-grow: 1;
  margin: 0 auto;
  background-color: $mainGradient;
  align-items: center;
  
  & h1 {
    color: $main;
  }

  & link {
    display: hidden;
  }
  & button {
    color: black;
    background-color: $main;

  }
}
