@import "../../app/variables.scss";

.container {
  color: $main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  max-width: $contentWidth;
  background: $mainGradient;
  border: 0px solid $mainGray;
  padding: 10px;
  margin: 0 auto;
}
