@import "../../app/variables.scss";
@import "@xyflow/react/dist/style.css";

.flow {
  width: 100%;
  max-width: $contentWidth;
  margin: 0 auto;
  background-color: $mainGradient;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  & * {
    --xy-edge-stroke-default: #fbff00;
    --xy-edge-stroke-width-default: 3;
    --xy-attribution-background-color-default: transparent;
    --xy-minimap-background-color-default: transparent;
    --xy-node-border-default: 3px solid #fbff00;
    --xy-node-background-color-default: #fbff00;
    --xy-node-boxshadow-hover-default: 0 1px 4px 1px #fbff00;
    --xy-node-boxshadow-selected-default: 0 0 0 0.5px #fbff00;
    --xy-controls-button-background-color-default: #fbff00;
    --xy-node-color-default: black;
  }
}
